{% load static %}

<div id="content-wrapper">
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-md-8 mx-auto text-center  pt-4 pb-5">
                <h1>Sorry! Page not found.</h1>
                <p class="land">Unfortunately the page you are looking for has been moved or deleted.</p>
                <div class="mt-5">
                    <a class="btn btn-outline-primary" href="{% url 'home' %}"><i class="mdi mdi-home"></i> GO TO HOME
                        PAGE</a>
                </div>
            </div>
        </div>
    </div>