{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h4>All Playlists</h4>

    <div class="row">
        {% for fave in favorites %}
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="channels-card">

                <div class="channels-card-body">
                    <div class="channels-title">
                        <a href="{% url 'detail_faves' fave.id %}">{{fave.title}}</a>
                    </div>
                    <div class="channels-view">
                        {{fave.user}} <i class="fas fa-check-circle text-success"></i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}