{% extends 'base.html' %}
{% block content %}
<div class="container" style="height: 100vh;">
    <h4>Edit Playlist</h4>
    <form method="post">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% for field in form %}
        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
            {{field.errors}}
            {{field.label_tag}}
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-danger">Save</button>
        <a href="{% url 'delete_faves' favorites.id %}" class="btn btn-dark">Delete</a>
    </form>
    <div class="row">
        {% for video in favorites.video_set.all %}
        <div class="col-md-3 mt-3">
            <div class="card mb-4 shadow-sm">
                <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{video.youtube_id}}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<br>
{% endblock %}